@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Open Sans', sans-serif;
}

@layer components {
  .auth-inputs {
    @apply p-2 focus:outline-none border-[1px]
    border-neutral-400 focus:border-neutral-950
    rounded-md dark:border-rose-900 dark:text-white
    dark:focus:border-rose-400 dark:bg-neutral-900
    dark:placeholder:text-neutral-400;
  }
}