@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Open Sans', sans-serif;
}

.loader {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #e11d48;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: spin 1.25s linear infinite;
}
              
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@layer components {
  .auth-inputs {
    @apply p-2 focus:outline-none border-[1px]
    border-neutral-400 focus:border-neutral-950
    rounded-md dark:border-rose-900 dark:text-white
    dark:focus:border-rose-400 dark:bg-neutral-900
    dark:placeholder:text-neutral-400;
  }
}